.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.logo h1{
    color: tomato;
}
/* .logo{
    width: max(15%, 100px);
} */
.navbar .profile{
    width: 40px;
}